modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
JWT_SECRET = "a01574a06118b2257416ca3380868333af707ff2c2937acc2d999f004b740490f4c102870b55834a3b804b044ef69e9c3ae49a523a68cf783cc35fc42cf764c8"
ADMIN_USERNAME = "Bosslife_king"
ADMIN_EMAIL = "admin@nexuselite.app"
